@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

.LogoM {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.LogoX {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #423FD1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Hcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.Hsearch {
    color: #fff;
    text-shadow: 2px 2px 4px #1F232E;
    background-color: #3D4450;
    width: 300px;
    padding: 10px;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(95, 95, 95, 0.5);
}

.Hnav {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #1F232E;
    color: #fff;
    box-shadow: 0px 0px 10px #423FD1;
}

.Hul {
    font-size: 32px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #252831;
}